<%= turbo_frame_tag dom_id(user, :edit) do %>
  <%= form_with(model: user, local: false, data: { controller: 'modal', action: "turbo:submit-end->modal#closeModal" }) do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :username, class: 'form-label' %>
      <%= form.text_field :username, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :phone, class: 'form-label' %>
      <%= form.text_field :phone, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.label :website, class: 'form-label' %>
      <%= form.text_field :website, class: 'form-control' %>
    </div>

    <%= form.submit "Update", class: "btn btn-primary" %>
  <% end %>
<% end %>
