<h1>Kullan覺c覺lar</h1>

<%= form_with url: users_path, method: :get, local: true do %>
  <div>
    <%= label_tag :search, "Kullan覺c覺 Ara:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Ara" %>
    <%= link_to 'Temizle', users_path, class: 'button' %>
  </div>
<% end %>

<% if flash.now[:alert] %>
  <p><%= flash.now[:alert] %></p>
<% end %>


<ul>
  <% @users.each do |user| %>
    <li>    
      <p><%= user.username %></p>
    </li>
  <% end %>
</ul>
