<h1><%= @user.name %></h1>
<% if @photo %>
  <img src="<%= @photo['download_url'] %>" alt="<%= @user.username %>">
<% end %>
<p>Kullanıcı Adı: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Telefon: <%= @user.phone %></p>
<p>Web Sitesi: <%= @user.website %></p>

<h2>Albüm Listesi</h2>
<ul>
  <% @albums.each do |album| %>
    <li>
      <%= link_to album['title'], album_path(album['id']) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Düzenle', edit_user_path(@user) %>
<%= link_to 'Geri', users_path %>
