<h1><%= @album['title'] %></h1>
<p>Albüm Detayları:</p>

<ul>
  <% @photos.each do |photo| %>
    <li>
      <img src="<%= photo['thumbnailUrl'] %>" alt="<%= photo['title'] %>">
      <p><%= photo['title'] %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Geri', user_path(@album['userId']) %>
